.mail-list .mail-preview {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding: 10px 20px;
	cursor: pointer;
	font-weight: bold;
}

.mail-list .mail-preview.read {
	font-weight: unset;
}

.mail-list .mail-preview:hover {
	background-color: rgba(50, 50, 50, 0.1);
}

.mail-list .mail-preview .text {
	display: flex;
	align-items: center;
}

.mail-list .mail-preview .text .body {
	margin-left: 5px;
	color: #777;
}

.mail-list .mail-preview .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 72.5%;
}
