.add-note {
  display: flex;
  justify-content: space-between;
  background-color: lightcoral;
}

.add-note-btn {
  border: 1px solid black;
  width: 60px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.add-note input {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.actions-container {
  position: absolute;
  right: 0;
  top: -3%;
}

.actions-container button {
  margin-right: 5px;
}
.actions-container button i {
  font-size: 1rem;
}

.add-container {
  position: relative;
}

.text-input {
  padding: 7px;
  width: 450px;
}

.note-actions-container {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
