.video-note {
  border: 1px solid black;
  /* display: flex;
  flex-direction: column; */
  background-color: lightblue;
  /* min-width: 300px; */

  /* min-height: 200px; */
  /* padding: 5px; */
}

.video-note h2 {
  margin-bottom: 2px;
  margin-top: 2px;
}
