@import '../cmps/text-note.css';
@import '../cmps/img-note.css';
@import '../cmps/video-note.css';
@import '../cmps/list-note.css';
@import '../cmps/note-add.css';

.note-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 250px;
	grid-auto-flow: dense;
	gap: 10px;
	text-align: center;
	margin: 10px 5px;
}

.note {
	border-radius: 5px;
}

/* .notes-main {
	max-width: 300px;
} */
